body {
  background-color: #24353f;
  font-family: sans-serif;
}
:root {
  --mainColor: #17a2b8;
}
input:focus {
  background-color: transparent !important;
}
h1 {
  color: var(--mainColor);
}
#btnLogin,
#btnSignUp {
  border-color: var(--mainColor) !important;
  color: var(--mainColor) !important;
}
#btnLogin:hover,
#btnSignUp:hover {
  color: white !important;
  background-color: var(--mainColor) !important;
}
.myshadow {
  background-color: #24353f !important;
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) !important;
}
input {
  color: white !important;
}
input::placeholder {
  color: #ced4da !important;
}
#btnLogout:hover {
  background-color: #ffc107;
}
a {
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  cursor: pointer;
  text-decoration: underline;
}
.form-control:focus {
  box-shadow: 0 0 0 0 transparent !important;
}
